.header {
    padding: 2rem;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, .1);
}

.header p {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

.header p a {
    color: #000;
    font-weight: 600;
}